.modelo1 {
    width: 500px;
    background-color: #8b4513;
    padding: 20px 30px 20px 30px;
    font-size: 12px;
    font-family: verdana;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    border-radius: 25px;
    margin: 0 auto;
    }

    h1 {
    padding: 0 0 10px 0;
    border-bottom: 3px solid #000;
    text-align: center;
    }

    .titulo2 {
    font-size: 11px;
    }
    
    div {
        margin: 0 0 20px;
        display: flex;
        }
 
        .rotulos {
        width: 20%;
        text-align: right;
        padding-right: 10px;
        margin-top: 10px;
        font-weight: bold;
        }
 
        .entrada {
        border: none;
        color: #525252;
        height: 30px;
        line-height: 15px;
        padding: 5px 0 5px 5px;
        width: 70%;
        border-radius: 5px;
        box-shadow: 2px 2px 2px #000;
        background-color: #f5deb3;
        }
        
        #mensagem {
            height: 100px;
            padding: 5px 0 0 5px;
            width: 70%;
            }
            .botao {
            margin:auto;
            background-color: #000;
            border: none;
            padding: 10px 25px 10px 25px;
            color: #fff;
            border-radius: 4px;
            text-shadow: 1px 1px 1px #FFE477;
            font-weight: bold;
            box-shadow: 1px 1px 1px #3D3D3D;
            }
            .botao:hover {
            color: #333;
            background-color: #EBEBEB;
            }